# Wallaby license for local MCP verification.
# Copy this file to `.env` (gitignored) and fill in your license details.
#
#   WALLABY_LICENSE = the license key you were given (the raw key string).
#                     It is written to ~/.wallaby/key.lic, backing up any
#                     existing file, and takes effect on the next Wallaby start.
#
#   WALLABY_LICENSE_EMAIL = the email your Wallaby license is registered to.
#                           Written to ~/.wallaby/.ol (online license identity).
#                           Optional, but recommended so Wallaby recognizes you.

WALLABY_LICENSE=
WALLABY_LICENSE_EMAIL=